*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  color: #1f2f36;
}

/*header section*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.438rem;
  background-color: #f55a5a;
  color: white;
}

.header-title {
  font-size: 0.904rem;
  font-weight: 500;
  margin: 0;
}
.earth-icon {
  color: white;
  margin-right: 0.3rem;
  font-size: 1.5rem;
}

/*Main section*/

main {
  height: 100vh;
  padding: 2.5rem 0;
  height: auto;
}
.cards-list {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  margin: 0 auto;
  height: 100%;
  width: 88%;
}

.card {
  display: flex;
  flex-direction: row;
  height: 16rem;
  width: 100%;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid #f5f5f5;
}
.card:last-child {
  border: none;
}

.card-image-container {
  width: 50%;
  height: 100%;
  border-radius: 0.313rem;
}

.card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 0.313rem;
}
.card--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.6rem;
  width: 50%;
}
.country--name {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.location-icon {
  color: #f55a5a;
  width: 0.438rem;
  margin-right: 0.1rem;
}
.location--title {
  font-size: 1.563rem;
  font-weight: 700;
  margin: 0.2rem 0 1rem 0;
}
.location--dates {
  margin-top: 0;
  font-weight: 700;
}
.location--description {
  font-weight: 400;
  line-height: 0.96rem;
  margin-bottom: 0;
}

.country--name,
.location--description,
.location--dates {
  font-size: 0.64rem;
}
.map-link {
  display: none;
}

/*Media queries*/

@media screen and (min-width: 768px) {
  /*header section*/
  header {
    height: 5rem;
    justify-content: flex-start;
    padding-left: 2rem;
  }
  .header-title {
    font-size: 2.2rem;
  }
  .earth-icon {
    font-size: 2.5rem;
  }
  /*main section*/
  main {
    padding: 4rem 0;
  }

  .card-image-container {
    width: 20rem;
    height: 20rem;
    border-radius: 0.313rem;
  }
  .card {
    justify-content: center;
    align-items: flex-start;
    height: 24rem;
    padding: 0;
  }

  .card--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 0.313rem;
  }
  .card--content {
    padding-top: 1.5rem;
    padding-left: 2rem;
  }
  .country--name,
  .location--dates,
  .location--description,
  .map-link {
    font-size: 0.9rem;
  }
  .location-icon {
    width: 0.8rem;
  }
  .map-link {
    display: unset;
    margin-left: 1rem;
    color: #918e9b;
    text-transform: lowercase;
    text-transform: capitalize;
  }
  .map-link a {
    color: #918e9b;
  }
  .location--title {
    font-size: 2.5rem;
  }
  .location--description {
    line-height: 1.1rem;
  }
}
